@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Inter:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

/* Shared Style */
body {
    font-family: Inter, sans-serif;
    background-color: #000;
    color: #FFF;
}

p {
    color: #ffffff7c;
    margin: 30px 0;
    text-align: justify;
}

.btn-primary {
    background-color: #E6533C;
    padding: 1rem 2rem;
    border-radius: 2.5rem;
    border: none;
    font-size: 1.1rem;
    font-weight: 700;
    width: 200px;
    color: #FFFFFF;
}

.btn-secondary {
    background-color: transparent;
    color: #FFFFFF;
    padding: 1rem 2rem;
    border-radius: 2.5rem;
    border: 1px solid rgba(255, 255, 255, 0.29);
    font-size: 1.1rem;
    font-weight: 700;
    width: 200px;
}

.container {
    width: 85%;
    margin: 50px auto;
}

.section-title {
    font-size: 3rem;
    margin-bottom: 28px;
}

/* Nav design */
.cover-bg {
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(36, 35, 35, 1) 60%, rgba(0, 0, 0, 1) 100%);
}

.logo {
    color: #E6533C;
    font-family: Inter;
    font-size: 3rem;
    display: inline-block;
    font-weight: 900;
}

.navbar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 28px;
    align-items: center;
}

.nav-links {
    display: flex;
    gap: 2.5rem;
    border: 1px solid rgba(255, 255, 255, 0.29);
    align-items: center;
    border-radius: 3rem;
    padding: 1rem 1.5rem;
}

.nav-links li {
    list-style: none;
}
.navbar .fa{
     font-size: 40px; 
     display: none; 
    cursor: pointer;
}
.nav-links li a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1.5rem;
}

/* Cover left Part */
.cover-content {
    display: flex;
    justify-content: space-between;
}

.cover-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.cover-title {
    color: #FFFFFF;
    font-size: 6rem;
    margin-bottom: 20px ;
}

.curve-title {
    font-family: Dancing Script;
    font-size: 7rem;
}

.btns {
    display: flex;
    gap: 2rem;
}

/* Cover right Part */
.image {
    position: relative;
    width: 40%;
}
.vid {
    filter: blur(50%);
    position: absolute;
    background-color: #3030307e;
    border-radius: 12px;
    padding: 20px;
}

.vid .circle {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: #E6533C;
}

.vid h3 {
    color: #FFFFFF;
}

.vid-1 {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    bottom: 50px;
}

.vid-2 {
    top: 25%;
    right: 10%;
}

/* Change your Habits Style */
.habit-container-text {
    text-align: center;
    width: 70%;
    margin: 0 auto;
}

.habits-cards {
    margin-top: 3rem;
    display: flex;
    gap: 3rem;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-img {
    width: 170px;
    border-radius: 50%;
    overflow: hidden;
    margin: 20px 0;
}

.card-img img {
    width: 100%;
}

.card .text {
    text-align: center;
}

/* Run an Extra Mile  */
.run-extra-mile {
    display: flex;
    justify-content: space-between;
    background-color: #222222;
    padding: 2.5rem;
    border-radius: 1rem;

}

.run-extra-mile-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 45%;
}

.run-extra-mile img {
    width: 350px;
    height: 350px;
    object-fit: cover;
    border-radius: 1rem;
}

/* Training and Execise Style */
.training-exercise-text {
    width: 60%;
    margin-bottom: 45px;

}

.training-gallery .row-1 {
    display: grid;
    grid-template-columns: 0.3fr 0.4fr 0.3fr;
}

.training-gallery .row-2 {
    display: grid;
    grid-template-columns: 0.4fr 0.25fr 0.35fr;
}

.training-gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    mix-blend-mode: overlay;

}

.training-gallery .ex-image {
    position: relative;

}

.training-gallery .ex-image-1 {
    background-color: rgba(6, 255, 209, 0.5);
    z-index: 1;
}

.training-gallery h3 {
    bottom: 20px;
    left: 20px;
    position: absolute;
    background-color: rgb(0, 0, 0, 0.3);
    padding: 10px;
    border-radius: 0 1rem;
}

.training-gallery .ex-image-2 {
    background-color: rgb(255, 0, 0, 0.3);
    z-index: 1;
}

.training-gallery .ex-image-3,
.ex-image-4 {
    background-color: rgb(0, 0, 0, 0.5);
    z-index: 1;
}

.training-gallery .ex-image-5 {
    background-color: rgb(66, 255, 0, 0.3);
    z-index: 1;
}

.training-gallery .ex-image-6 {
    background-color: rgb(0, 71, 255, 0.3);
    z-index: 1;
}

/* BMI Calculator Style */
.content-container {
    background-color: #222222;
    padding: 50px 0;
}

.bmi-calculator-text {
    width: 45%;
    margin: 50px auto;
}

.bmi-calculator-content {
    display: flex;
    gap: 5rem;
    width: 85%;
    justify-content: space-between;
    margin: 0 auto 20px auto;
}

.bmi-calculator-chart th {
    padding: 10px;
    text-align: left;
}

.bmi-calculator-chart td {
    padding: 10px;
    color: #b2b2b282;
    width: 150px;
}

.bmi-calculator-chart table {
    margin-top: 50px;
    width: 100%;
}

.calculator-title {
    margin-bottom: 15px;
}

.calculate-your-bmi-input {
    margin: 25px 0;

}

.calculate-your-bmi-input .row-1,
.row-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.calculate-your-bmi-input .row-3 {
    display: grid;
    grid-template-columns: 1fr;
}

.calculate-your-bmi-input input,
select {
    padding: 10px;
    background-color: #3b3b3b;
    margin: 5px;
    border-radius: 0.5rem;
    border: 0;

}

/* Meet Our Team */
.meet-our-team-text {
    width: 40%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 3rem;
}

.meet-our-team-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #222222;
    gap: 16px;
    padding: 16px;
    border-radius: 1rem;
}

.meet-our-team-gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
}

.meet-our-team-gallery .trainer {
    position: relative;

}

.meet-our-team-gallery .trainer .trainer-name {
    position: absolute;
    bottom: 15px;
    left: 15px;
}

/* Footer Section Design */
.footer-section-container {
    background-color: #191919;
}

.footer-content {
    display: flex;
    padding: 50px 0;
    justify-content: space-between;
    border-bottom: 1px solid #ffffff42;
    width: 85%;
    margin: 0 auto;
}

.footer-text {
    width: 50%;
}

.footer-text>.logo, .get-started>h2 {
    margin-bottom: 16px;
}

.get-started {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.get-started h4{
    cursor: pointer;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 300;

}
.footer-copyright {
    text-align: center;
    padding: 2rem 0;
}


/* Responsive................. */
@media screen and (max-width:576px) {
    .cover-content .image{
        width: 100%;
        display: grid;
        place-items: center;
    }
    .cover-title{
        font-size: 4rem;
    }
    .cover-content,
    .habits-cards,
    .bmi-calculator-content,
    .run-extra-mile {
        flex-direction: column;
    }

    .nav-links {
      display: none;
    }
    .navbar .fa{
        display: block;
    }
    .btn-primary,.btn-secondary {
        margin: 20px 0;
    }

    .run-extra-mile {
        justify-content: center;
        align-items: center;
    }

    .run-extra-mile-text {
        width: 85%;
    }

    .training-exercise-text,.bmi-calculator-text,.meet-our-team-text {
        width: 90%;
        margin-bottom: 45px;
    }
    .meet-our-team-gallery{
        grid-template-columns: 1fr;
    }
    .footer-content{
        flex-direction: column;
    }
    .footer-text {
        width: 90%;
        margin-bottom: 10px;
    }
    .get-started{
        margin: 20px 0;
    }
}