@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Inter:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

/* Shared Style */
body {
    font-family: Inter, sans-serif;
    background-color: #000;
    color: #FFF;
}

p {
    color: #ffffff7c
}

.btn-primary {
    background-color: #E6533C;
    padding: 1rem 2rem;
    border-radius: 2.5rem;
    border: none;
    font-size: 1.1rem;
    font-weight: 700;

}

.btn-secondary {
    background-color: transparent;
    color: #FFFFFF;
    padding: 1rem 2rem;
    border-radius: 2.5rem;
    border: 1px solid rgba(255, 255, 255, 0.29);
    font-size: 1.1rem;
    font-weight: 700;
}

.container {
    width: 85%;
    margin: 50px auto;
    border: 2px solid greenyellow;
}

.section-title {
    font-size: 3rem;
    margin-bottom: 28px;
}

/* Nav design */
.cover-bg {
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(36, 35, 35, 1) 60%, rgba(0, 0, 0, 1) 100%);

}

.logo {
    color: #E6533C;
    font-family: Inter;
    font-size: 3rem;
    display: inline-block;
    font-weight: 900;
}

.navbar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 28px;
}

.nav-links {
    display: flex;
    gap: 2.5rem;
    border: 1px solid rgba(255, 255, 255, 0.29);
    align-items: center;
    border-radius: 3rem;
    padding: 0 1.2rem;
}

.nav-links li {
    list-style: none;
}

.nav-links li a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1.5rem;
}

/* Cover left Part */
.cover-content {
    display: flex;
    justify-content: space-between;
}

.cover-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.cover-title {
    color: #FFFFFF;
    font-size: 6rem;
}

.curve-title {
    font-family: Dancing Script;
    font-size: 7rem;
}

.btns {
    display: flex;
    gap: 2rem;
}

/* Cover right Part */
.image {
    position: relative;
    /* border: 1px solid yellow; */
    width: 40%;

}

.image img {
    /* width: 100%; */
}

.vid {
    /* border: 1px solid red; */
    filter: blur(50%);
    position: absolute;
    background-color: #3030307e;
    border-radius: 12px;
    padding: 20px;
}

.vid .circle {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: #E6533C;
}

.vid h3 {
    color: #FFFFFF;
}

.vid-1 {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    bottom: 50px;
}

.vid-2 {
    top: 25%;
    right: 10%;
}

/* Change your Habits Style */
.habit-container-text {
    text-align: center;
    width: 70%;
    margin: 0 auto;
}

.habits-cards {
    margin-top: 3rem;
    display: flex;
    gap: 3rem;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 1px solid yellow;  */
}

.card-img {
    width: 170px;
    border-radius: 50%;
    /* border: 2px solid tan; */
    overflow: hidden;
    margin: 20px 0;
}

.card-img img {
    width: 100%;
}
.card .text {
    text-align: center;
}